<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metal Band Name</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('partials/name') %>
    <a href="/name">Start</a>
</body>
</html>