*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

a{
    background-color: #b43eb4;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}